<md-content>
  <form ng-Submit="post()" ng-show="authenticated">
    <div flex layout="column">
      <h4>{{CurrentUser}} says</h4>
      <md-input-container class="md-block post-chirp">
        <label>Chirp</label>
        <textarea ng-model="newPost.text" columns="1" md-maxlength="150" rows="3" placeholder="Say something"></textarea>
      </md-input-container>
      <md-button class="md-raised md-primary" type="submit">Chirp!</md-button>
    </div>
  </form>
  <div id="post-stream">
    <h4>Chirp Feed</h4>
    <div flex layout="column">
      <post-panel-directive post-model="post" current-user="CurrentUser" delete-post="deletePost()" update-post="updatePost()" ng-repeat="post in posts | orderBy:'created_at':true"></post-panel-directive>
    </div>
   <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">User</h1>
      </md-toolbar>
      <md-content  layout-padding>
        <div flex layout="column">
         <md-list ng-repeat="user in users | orderBy:'created_at':true">
            <md-list-item layout="row" layout-align="start center">
              {{user.username}}
            </md-list-item>
             <md-divider ></md-divider>
         </md-list>
        </div>
      </md-content>
    </md-sidenav>

</md-content>