<div flex>
	<md-card>
		<br>
		<div layout="row">
			<div flex>
				<md-input-container>
					<label>User Name</label>
					<input ng-model="user.username">
				</md-input-container>
			</div>
		</div>
		<div layout="row">
			<div flex>
				<md-input-container>
					<label>First Name</label>
					<input ng-model="user.username">
				</md-input-container>
			</div>
			<div flex>
				<md-input-container>
					<label>Last Name</label>
					<input ng-model="user.username">
				</md-input-container>
			</div>
		</div>
		<div layout="row">
			<div flex>
				 <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
			</div>
			<div flex>
				<md-radio-group ng-model="data.gender" layout="row">
					<md-radio-button flex value="Male" class="md-primary"> Male </md-radio-button>
					<md-radio-button flex  value="Female" class="md-primary">Female</md-radio-button>
				</md-radio-group>
			</div>
			<div flex>
			</div>
			<div flex>
			</div>
		</div>
	</md-card>
</div>